@import url('https://fonts.googleapis.com/css2?family=GrapeNuts&family=Dosis&display=swap');

:root {
    --primary-color: #231942;
    --secondary-color: #5e548e;
    --accent1-color: #9f86c0;
    --accent2-color: #be95c4;
  
    --heading-font: 'GrapeNuts', sans-serif;
    --paragraph-font: 'Dosis', sans-serif;
  
    --nav-link-color: #fff;
    --nav-background-color: #231942;
    --nav-hover-link-color: #231942;
    --nav-hover-background-color: #fff;
  }
  
  body {
    max-width: 960px;
    margin: 0 auto;
    padding: 4em;
    font-size: 18px;
    font-family: var(--paragraph-font);
  }

  header {
    padding: 20px;
    background-color: var(--primary-color);
  }
  
  p {
    padding: 1em;
  }
.hero{
    position: relative;
}
  .hero img{
    display: block;
    width: 100%;
    height: auto;
  }
  .hero h1 {
    position: absolute;
    top: 50px;
    width: 100%;
    background-color: #231942;
    opacity: .75;
    text-align: center;
  }
  .hero article {
    position: absolute;
    top: 150px;
    left: 25px;
    right: 25px;
    background-color: #5e548e;
    opacity: .6;
}
.hero article img {
    width: 200px;
    float: right;
}
  .sociallinks img {
    width: 50px;
  }
  nav a {
    text-decoration: none;
  }