@import url('https://fonts.googleapis.com/css2?family=GrapeNuts&family=Dosis&display=swap');

:root {
  --primary-color: #231942;
  --secondary-color: #5e548e;
  --accent1-color: #9f86c0;
  --accent2-color: #be95c4;

  --heading-font: 'GrapeNuts', sans-serif;
  --paragraph-font: 'Dosis', sans-serif;

  --nav-link-color: #fff;
  --nav-background-color: #231942;
  --nav-hover-link-color: #231942;
  --nav-hover-background-color: #fff;
}

body {
  max-width: 960px;
  margin: 0 auto;
  padding: 4em;
  font-size: 18px;
  font-family: var(--paragraph-font);
}

img {
  display: block;
  margin: 0 auto;
  max-width: 300px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
  color: var(--accent2-color);
  font-weight: 700;
}

header {
  padding: 20px;
  background-color: var(--primary-color);
}

p {
  padding: 1em;
}

a {
  text-decoration: none;
}

nav {
  background-color: var(--nav-background-color);
  font-size: 1.2em;
  display: flex;
}

nav a {
  display: block;
  color: var(--nav-hover-link-color);
  padding: 1em;

}

nav a:link,
nav a:visited {
  color: var(--nav-link-color);
}

nav a:hover {
  color: var(--nav-hover-link-color);
  background-color: var(--nav-hover-background-color);
}